.title{
    font-size: 11pt;
    font-weight: bold;
    color: #000;
    border-right-style: solid;
    border-right-color: #DB4524;
    padding: 5px;
    margin-bottom: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 5px;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 5px;
}
.logo{
    width: 80px;
    height: 80px;
    display: block;
    margin: 20px auto;
    position: absolute;
    top: 18%;
    z-index: 100;
    left: 0;
    right: 0;
    background: lightblue;
    border-radius: 50%;
    padding: 5px;
}
.card{
    width: 80%;
    min-height: auto;
    display: block;
    margin: 20px auto;
    position: absolute;
    top: calc(10% + 100px);
    left: 0;
    right: 0;
    border-radius: 30px;

}
.name{
    text-align: center;
    display: block;
    margin: 36px auto;
    font-size: 20px;
    color: #DB4524;
}